.thumbSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    column-gap: 60px;
    row-gap: 50px;
    padding: 50px;
    background: #F6F6F6;
    border-radius: 25px;
    margin: 43px 100px 50px 100px;
}

@media only screen and (max-width:768px) {

    .thumbSection {
        padding: 0;
        row-gap: 20px;
        background-color: rgba(255, 255, 255, 0);
        margin-left: 19px;
        margin-right: 19px;
    }
}