.starRating {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    width: 196px;
    height: 36px;
}

.starOn {
    fill: #FF6060;
}

.starOff {
    fill: #E3E3E3;
}

@media only screen and (max-width:768px) {
    .starRating {
        height: 18px;
        justify-content: flex-start;
    }

    .starPath {
        transform: scale(0.5);
    }

    .starOn {
        width: 20px;
        height: 18px;;
    }

    .starOff {
        width: 20px;
        height: 18px;;
    }
}