.App {
    max-width: 1440px;
    min-height: 100vh;
    min-width: 375px;
    display: flex;
    flex-direction: column;
  }

.link {
    text-decoration: none;
  }

  @media only screen and (max-width:768px) {

    .App {
      max-width: 375px;
      margin: auto;
    }

}